
.ranbiricon{
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
}

#name{
    display: inline-block;
    vertical-align: middle;
}

body{
    background-color: aquamarine;
}

h1{
    color: blueviolet;
}